/* about page start */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: left;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.container {
  text-align: center;
  margin: 50px;
  text-align: justify;

}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

footer {
  text-align: center;
  height: 40px;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: brown;
  color: white;
}

footer p {
  padding-top: 10px;
}

.container button,
a {
  background-color: blue;
  text-decoration: none;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

/* about page ends*/

/* register page starts*/

/* Register page ends*/